.leaderboard-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}
table, th, td {
    border-collapse: collapse;
    margin-bottom: 30px;

    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 10px;
}

button {
            padding: 10px 20px;
            font-size: 18px;
            background-color: rgb(255, 216, 166);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: black;
            border: none;
            cursor: pointer;
}

button:hover {
    background-color: rgb(255, 195, 84);
}


.name-cell {
    text-align: left;
    padding-left: 10px;
}