.leaderboard-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}
table, th, td {
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name-cell {
    text-align: left;
    padding-left: 10px;
}